// Color Variables
$primary-color: #333333;
$secondary-color: #9AC4F8;
$text-color: #666666;
$text-color-dark: #222222;
$body-color: #e8f6f3;
$border-color: #ACB9C4;
$black: #000;
$white: #e8f6f3;
$light: #e8f6f3;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';
