// Color Variables
$primary-color: #1e90ff; //  链接颜色
$secondary-color: #9AC4F8;
$text-color: #deb887;
$text-color-dark: #ffe4b5;
$body-color: #d2691e;
$border-color: #2f4f4f;
$black: #ff0000;
$white: #cd5c5c;
$light: #ba55d3;

// Font Variables
$primary-font: 'Muli', sans-serif;
$icon-font: 'themify';

// 默认css颜色
// Color Variables
// $primary-color: #1e90ff; //  链接颜色
// $secondary-color: #9AC4F8;
// $text-color: #666666;
// $text-color-dark: #222222;
// $body-color: #ff00ff;
// $border-color: #228b22;
// $black: #cd853f;
// $white: #fff;
// $light: #F8F8F8;

// Font Variables
// $primary-font: 'Muli', sans-serif;
// $icon-font: 'themify';
