---
layout: default
---

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        
         <script src="https://utteranc.es/client.js"
          repo="qinghongjiao/guestbook"
          issue-term="pathname"
          label="Comments"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
        
      <div class="col-lg-6 text-md-right">
        <img class="img-fluid" src="{{ page.image | relative_url }}">
      </div>
    </div>
  </div>
</section>
